/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    margin:0;
    padding:0;
 }
 #input{
	display: none;
}

.line{
   padding-top: 10px;
}
 
/*3本線を作る*/
 
.line1,.line2,.line3{
	width: 30px;
	height: 5px;
	background-color: black;
	margin-top: 3px;
    margin-left: 900px;
    position: relative;
}
 
/*メニューのデザイン*/
 
#content{
    background: white;
	height: 200px;
	transform: translateX(-2010px); /*左側の奥の奥に埋めておく*/
}
 
/*チェックが入ったら見せる*/
 
#input:checked ~ #content{
	transform: translatex(410px);
    position: relative;
    z-index: 10;
    width: 490px;
	height: 500px;
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 27px;
    font-size: 20px;
}



.main{
    padding-top: 20px;
    z-index: 1;
    background: #F4E285;
    height: 800px;
}

.headers{
    display: flex;
    background-color: #DB504A;
    height: 60px;
    padding-top: 10px;
}

.headers1{
    width: 400px;
}