// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post{
    margin: 10px;
    width: 30%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #000;
    background-color: white;
}

.title1{
    padding-left: 30px;
    font-size: 20px;
}

.kanryo{
    background-image: url(1.png);
    height: 500px;
    margin:  0 auto; 
    width: 800px;
}

.kanryotext{
    text-align: center;
}

.kanryolink{
    text-align: center;
    margin-top: 30px;
    
}